<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= cg.images[0].url %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= cg.name %></h5>
                <p class="card-text"><%= cg.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price:&nbsp;<%= cg.price %></li>
                <li class="list-group-item text-muted">Location:&nbsp;<%= cg.location %></li>
                <li class="list-group-item text-muted">Author: <%= cg.author.username %></li>
            </ul>
            <div class="card-body">
                <% if (currentUser && currentUser._id.equals(cg.author._id)) { %>
                    <a href="/campgrounds/<%= cg._id %>/edit" class="card-link btn btn-outline-primary">Edit</a>
                    <form action="/campgrounds/<%= cg._id %>?_method=DELETE" method="post" class="d-inline">
                        <button class="card-link btn btn-outline-danger">Delete</button>
                    </form>
                <% } %>
                <a href="/campgrounds/<%= cg._id %>/reviews/new" class="card-link btn btn-outline-info">Add some reviews</a>
                <a href="/campgrounds" class="card-link btn btn-outline-secondary">Back to index</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <% for (let review of cg.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="my-2"><%= review.text %></p>
                    <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= cg._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <button class="card-link btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

