<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-indicators">
                <% if (cg.images.length > 1) { %>
                    <% cg.images.forEach((image, i) => { %>
                        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>" aria-current="<%= i === 0 ? 'true' : '' %>" aria-label="Slide <%= i + 1 %>"></button>
                    <% }) %>
                <% } %>
            </div>
            <div class="carousel-inner">
                <% cg.images.forEach((image, i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img src="<%= image.url %>" class="d-block w-100" alt="Campground image">
                    </div>
                <% }) %>
            </div>
            <% if (cg.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <% } %>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= cg.name %></h5>
                <p class="card-text"><%= cg.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price:&nbsp;<%= cg.price %></li>
                <li class="list-group-item text-muted">Location:&nbsp;<%= cg.location %></li>
                <li class="list-group-item text-muted">Author: <%= cg.author.username %></li>
            </ul>
            <div class="card-body">
                <% if (currentUser && currentUser._id.equals(cg.author._id)) { %>
                    <a href="/campgrounds/<%= cg._id %>/edit" class="card-link btn btn-outline-primary">Edit</a>
                    <form action="/campgrounds/<%= cg._id %>?_method=DELETE" method="post" class="d-inline">
                        <button class="card-link btn btn-outline-danger">Delete</button>
                    </form>
                <% } %>
                <a href="/campgrounds/<%= cg._id %>/reviews/new" class="card-link btn btn-outline-info">Add some reviews</a>
                <a href="/campgrounds" class="card-link btn btn-outline-secondary">Back to index</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id='map'></div>
        <% for (let review of cg.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="my-2"><%= review.text %></p>
                    <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= cg._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <button class="card-link btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    let cg = <%- JSON.stringify(cg) %>;
    let token = '<%- process.env.MAPBOX_TOKEN %>';
</script>
<script src="/js/detailMap.js"></script>

