<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col offset-3">
        <form action="/campgrounds/<%= cg._id %>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name:&nbsp;</label>
                <input type="text" name="name" id="nameInput" class="form-control" value="<%= cg.name %>">
            </div>
            <div class="mb-3">
                <label for="imgInput" class="form-label">Image URL:&nbsp;</label>
                <input type="text" name="image" id="imgInput" class="form-control" value="<%= cg.image %>">
            </div>
            <div class="mb-3">
                <label for="priceInput" class="form-label">Price:&nbsp;</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="number" class="form-control" id="priceInput" name="price" aria-label="Price" aria-describedby="basic-addon1" value="<%= cg.price %>">
                </div>
            </div>
            <div class="mb-3">
                <label for="descInput" class="form-label">Description:&nbsp;</label>
                <textarea name="description" id="descInput" class="form-control"><%= cg.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="locInput" class="form-label">Location:&nbsp;</label>
                <input type="text" name="location" id="locInput" class="form-control" value="<%= cg.location %>">
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Submit</button>
            </div>
        </form>
        <a class="btn btn-secondary" href="/campgrounds/<%= cg._id %>">Back</a>
    </div>
</div>

