<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col offset-3">
        <form action="/campgrounds/<%= cg._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name:&nbsp;</label>
                <input type="text" name="name" id="nameInput" class="form-control" value="<%= cg.name %>" required>
                <div class="valid-feedback">Good!</div>
            </div>
            <div class="mb-3">
                <label for="imagesInput" class="form-label">Images:&nbsp;</label>
                <input type="file" accept="image/*" name="images" id="imagesInput" class="form-control" multiple>
                <div class="valid-feedback">Good!</div>
            </div>
            <div class="mb-3">
                <label for="priceInput" class="form-label">Price:&nbsp;</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="number" class="form-control" id="priceInput" name="price" aria-label="Price" aria-describedby="basic-addon1" value="<%= cg.price %>" required>
                    <div class="valid-feedback">Good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="descInput" class="form-label">Description:&nbsp;</label>
                <textarea name="description" id="descInput" class="form-control" required><%= cg.description %></textarea>
                <div class="valid-feedback">Good!</div>
            </div>
            <div class="mb-3">
                <label for="locInput" class="form-label">Location:&nbsp;</label>
                <input type="text" name="location" id="locInput" class="form-control" value="<%= cg.location %>" required>
                <div class="valid-feedback">Good!</div>
            </div>
            <div>
                <input type="hidden" name="author" value="<%= currentUser._id %>">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-info">Submit</button>
            </div>
        </form>
        <a class="btn btn-outline-secondary" href="/campgrounds/<%= cg._id %>">Back</a>
    </div>
</div>

